# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# uv
uv.lock

# Docker
*.log
docker-compose.override.yml
*.dockerignore

# PostgreSQL
*.sql
*.dump
postgres_data/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp
*~
*.log
*.tmp